<!DOCTYPE html>
<html>
  <head>
    <!-- JS -->
    <script type="text/javascript" src="js/libs/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="js/libs/jquery-ui.js"></script>
    <script type="text/javascript" src="js/libs/todo.client.js"></script>
    <script type="text/javascript" src="js/libs/underscore.js"></script>
    <script type="text/javascript" src="js/libs/backbone.js"></script>
    <script type="text/javascript" src="js/libs/backbone.marionette.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.js"></script>

    <script type="text/javascript" src="js/entities/todo.js"></script>
    <script type="text/javascript" src="js/todo/list/list_view.js"></script>
    <script type="text/javascript" src="js/todo/list/list_controller.js"></script>
    <script type="text/javascript" src="js/todo/new/new_view.js"></script>
    <script type="text/javascript" src="js/todo/new/new_controller.js"></script>
    <script type="text/javascript" src="js/todo/edit/edit_view.js"></script>
    <script type="text/javascript" src="js/todo/edit/edit_controller.js"></script>
    <script type="text/javascript" src="js/session/session_controller.js"></script>
    <script type="text/javascript" src="js/session/login_view.js"></script>
    <script type="text/javascript" src="js/header/header_controller.js"></script>
    <script type="text/javascript" src="js/header/header_view.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="css/todo.css" type="text/css">
  </head>
  <body>
    <div id="header"></div>
    <div id="login"></div>
    <div id="container"></div>
    <div id="todo-new"></div>
    <div id="todo-edit"></div>
    
<!-- Header -->
    <script type="text/template" id="header-view">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><button type="submit" id="logout-button" class="btn btn-default">Logout</button></li>
        </ul>
      </nav>
    </script>
    
<!-- Login View -->
    <script type="text/template" id="login-view">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#login-partial" data-toggle="tab">Login</a></li>
          <li role="presentation"><a href="#signup-partial" data-toggle="tab">Signup</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane fade in active" id="login-partial">
            <div id="login-notice" class="notice"></div>
            <div class="form-group">
              <input type="text" id="login-email" placeholder="email">
            </div>
            <div class="form-group">
              <input type="password" id="login-password" placeholder="password">
            </div>
            <input type="submit" id="login-button" class="btn-sm" value="Login">
          </div>

          <div role="tabpanel" class="tab-pane fade" id="signup-partial">
            <div id="signup-notice" class="notice"></div>
            <div class="form-group">
              <input type="text" id="signup-email" placeholder="email">
            </div>
            <div class="form-group">
              <input type="password" id="signup-password" placeholder="password">
            </div>
            <input type="submit" id="signup-button" class="btn-sm" value="Sign Up">
          </div>

        </div>

      </div>
    </script>
    
<!-- Todo List View -->
    <script type="text/template" id="todo-list-view">
      <thead>
        <tr>
          <th>Description</th>
          <th><p>Completed</p><p>Mark all <input id="bulk-complete" type="checkbox"></p></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="sortable"></tbody>
    </script>
    
<!-- Todo Item View -->
    <script type="text/template" id="todo-item-view">
      <td><%= description %></td>
      <td><input id="is-complete" type="checkbox"></td>
      <Td><input id="edit" class="btn btn-xs" type="button" value="edit"></td>
    </script>
    
<!-- New Todo View -->
    <script type="text/template" id="todo-new-view">
      <input type="text" id="description" name="description" placeholder="description"></input>
      <input type="submit" id="submit" value="save"></input>
    </script>
    
<!-- Edit Todo View -->
    <script type="text/template" id="todo-edit-view">
      <input type="text" id="description" name="description" value="<%= description %>"></input>
      <input type="submit" id="submit" class="btn" value="save"></input>
    </script>
    
<!-- Start App -->
    <script type="text/javascript">
      $(document).ready(function() {
        TodoApp.start();
      });
    </script>
  </body>
</html>